<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liste des Tâches</title>
</head>
<body>
    <h1>Liste des Tâches</h1>
    <form action="/tasks" method="POST">
        <input type="text" name="title" placeholder="Titre" required>
        <input type="text" name="description" placeholder="Description" required>
        <button type="submit">Ajouter</button>
    </form>
    <ul>
        <% tasks.forEach(task => { %>
            <li>
                <a href="/tasks/<%= task._id %>"><%= task.title %></a>
                <form action="/tasks/delete/<%= task._id %>" method="POST" style="display:inline;">
                    <button type="submit">Supprimer</button>
                </form>
            </li>
        <% }) %>
    </ul>
    <a href="/">Retour à l'accueil</a>
</body>
</html>
